/* CSS Document */
body{
	background:url(../images/bg.png);
	margin:0;
	font-family: "Trebuchet MS";
}

.full_content{
	background:url(../images/left_bg.png) repeat-y;
	width:100%;
	height:100%;
	display:table;
	position:fixed;
	z-index:-1;
}

.left_content{
	float:left;
	width:266px;
	display:table;
}

.left_content .logo{
	padding:10px;
}

.left_content .menu ul{
	list-style:none;
	margin-top:40px;
}

.left_content .menu ul li a{
	font-family: "Trebuchet MS";
	font-size:22px;
	color:#003366;
	display:table;
	width: 100%;
	padding:5px 0px 5px 25px;
	margin-bottom: 3px;
	background:url(../images/arrow.png) no-repeat 12px center;
}

.left_content .menu ul li a:hover , .left_content .menu ul li a.active{
	color:#FFFFFF;
	background:url(../images/menu_bg.png) no-repeat scroll left top transparent;
}

.left_content .menu ul li ul{
	list-style:none;
	margin-top:5px;
}

.left_content .menu ul li ul li a{
	font-family: "Trebuchet MS";
	font-size:16px;
	color:#003366;
	display:table;
	width: 100%;
	padding:7px 0 7px 30px;
	background:url(../images/arrow.png) no-repeat 20px center;
}

.right_content{
	float:left;
	width:660px;
	padding:10px;
	display:table;
	font-family:"Trebuchet MS";
	text-align:justify;
	background:url(../images/hacettepe_logo.png) no-repeat scroll center;
}

.right_content img{
	padding-right:10px;
	padding-bottom:10px;
}

.right_content h1{
	padding-top: 20px;
	font-size:24px;
}

.right_content h2{
	font-size:17px;
}

.right_content .footer{
	bottom:0;
	left:260px;
	width:660px;
	display:table;
	position:inherit;
	font-size:11px;
	text-align:center;
}

.right_content input{
	border:1px solid #eee;
	width:300px;
	height:25px;
	margin:10px 0;
	padding:5px;
	font-size:18px;
	color:#555;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.right_content input:hover, .right_content input:focus{
	border:1px solid #33ccff;
}

.right_content textarea{
	border:1px solid #eee;
	width:660px;
	height:155px;
	margin:10px 0;
	padding:5px;
	font-size:18px;
	color:#555;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.right_content textarea:hover, .right_content textarea:focus{
	border:1px solid #33ccff;
}

.right_content button{
	border: 1px solid #eee;
	width: 90px;
	height: 35px;
	color:#FFF;
	font-size: 16px;
	background-color: #95BBD3;
	font-weight:bold;
}

.right_content button:hover{
	border: 1px solid #ccc;
}

.right_content .mesaj_gonder{
	display:none;
}

.right_content .buton{
	border: 1px solid #fff;
	width: 150px;
	color:#FFF;
	font-size: 16px;
	background-color: #95BBD3;
	display:block;
	text-align:center;
	padding:5px;
	cursor:pointer;
	margin-top:10px;
}

.right_content .adam{
	display:table;
	padding:16px 0;
}